<html>
<h1><b>Details</b></h1>

<div *ngIf="character">
    <div class=container>
        <div *ngIf="character.House === 'House Stark'"><img src="assets/img/houses/stark.png" class="housestark" style="width: 15%"> </div>

        <div *ngIf="character.House === 'House Targaryen'"><img src="assets/img/houses/targaryen.png" class="housetargaryen" style="width: 18%"> </div>

        <div *ngIf="character.House === 'House Lannister'"><img src="assets/img/houses/lannister.png" class="houselannister" style="width: 16%"> </div>

        <div *ngIf="character.House === 'White Walkers'"><img src="assets/img/houses/whitewalker.png" class="whitewalkers" style="width: 18%"> </div>

        <div *ngIf="character.House === 'Brotherhood Without Banners'"> <img src="assets/img/houses/brotherhoodwithoutbanners.png" class="brotherhood" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Greyjoy'"> <img src="assets/img/houses/greyjoy.png" class="greyjoy" style="width: 13%;"></div>

        <div *ngIf="character.House === 'House Stokeworth'"> <img src="assets/img/houses/stokeworth.png" class="stokeworth" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Mormont'"> <img src="assets/img/houses/mormont.png" class="mormont" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Clegane'"> <img src="assets/img/houses/clegane.png" class="clegane" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Tarth'"> <img src="assets/img/houses/tarth.png" class="tarth" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'Free Folk'"> <img src="assets/img/houses/freefolk.png" class="freefolk" style="width: 13%;"> </div>

        <h2>{{character.CharacterName}}</h2>  
        <img [src]="character.ImageLink" alt="character.CharacterName" class="characterimg">
      <h4>{{character.House}}</h4>
      <button mat-button class="button text-light" routerLink="/characters">Back To List</button>
    </div>
</div>
</html>