<div class="container">
    <div class="main-title">
      <div>  
        <div class="centered">
          <h1>~Westeros Fantasy League~</h1>
          <img src="https://emailmonks.com/game-email-marketing-lessons/images/banner-image.png" style="width: 50%; height:auto;">
          <div class="a"><b>Westeros Fantasy League had a great run during the final season of HBO's Game of Thrones, but now that the show is over and the web development program is done, we have stopped the back-end. (The Azure overage fees were getting outrageous).  I have left the front end up, but functionality is obviously broken.  View our source here: <a href="https://github.com/jonadcock/WinterAngular">Angular front-end</a>, and <a href="https://github.com/troykuhn/WinterIsComing">.NET Framework API</a>.  Thanks to everyone who contributed and helped this project along!</b></div>
          <br>
          <br>
          <div class="a">Westeros Fantasy League is the best fantasy league in all of Westeros. Game of Thrones is returning with its 8th and final season soon and this web application offers an interactive way to follow along with the episodes. Users can create a team of main characters and as the season progresses, teams will accumulate points depending on what happens with the characters.</div> 
          <br>
          <div>Developed using C#/.NET Framework and Angular 7 by</div> 
          <br>
          <div>Thomas of House Fraley</div> 
          <br>
          <div>Troy of House Kuhn</div> 
          <br>
          <div>Jon of House Adcock</div> 
          <br>
          <br>
          <div>This is a student project created for</div> 
          <div>Eleven Fifty Academy in Fishers, IN.</div>
      </div>
    </div>
</div>
